.navbar{
    background-color:rgb(238, 238, 238);
    height: 3em;
    padding-right:auto;
    display: flex;
    justify-content: space-between;
}
.nav-links{
    display:flex;
    align-items: center;  
    
}
.nav-links li{
    margin: 0 1px 0 1px;
    padding: 0 5px 0 5px;
}
.nav-links li:hover{
    background-color:lightgray;
    border-radius: 0;

}
.navbar-right{
    
    width:400px;
    height:2em;
    align-content: center;
    align-content: center;
    
 }
 .navbar-right {
    list-style: none;
   
 }
 .navbar-right li{
     margin: 0 1px 0 1px;
     padding: 0 5px 0 5px;
 }
 .navbar-right li span{
     color:rgb(25, 182, 182);
     margin: 0 0 0 0;
 }
 
 .right{
    display: flex;
    list-style: none;
    height: 2em;
 
 }

 /*media query*/
@media (max-width:370px){
    .navbar{
    background-color:rgb(238, 238, 238);
    height: 3em;
    padding-right:auto;
    display: flex;
    justify-content: space-between;
    }
    .nav-links{
        display:flex;
        flex-direction: column;
        align-items: flex-start;  
        
    }
}